{% from "monit/map.jinja" import monit with context %}
{% set monithost = monit['checks'] %}
{%- for dictitem in monithost.items() %}
check host {{ dictitem[0] }} with address {{ dictitem[1]['address'] }} 
  if failed 
     port {{ dictitem[1]['port'] }} 
     type tcp
     protocol {{ dictitem[1]['service'] | default('http') }} 
     timeout {{ dictitem[1]['timeout'] | default('15') }} seconds 
  then alert
{% if monit.email -%}
  alert {{ monit.email }} with reminder on 5 cycles
{%- endif %}
{% endfor -%}
